@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {}

.image {
    background-image: url(./assets/weather.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: drop-shadow(16px 16px 20px red) contrast(100%);
}

.show:hover {
    -webkit-box-shadow: 0 0 4px 6px black;
    -moz-box-shadow: 0 0 4px 6px black;
    box-shadow: 0 0 4px 6px black;
    border-radius: 10px !important;
}

.panel {
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    padding: 0.5rem;
    backdrop-filter: blur(60px);
}